*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sacramento', cursive;

    font-family: 'Teko', sans-serif;

    font-family: 'Ubuntu', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}


.main{
    width: 100%;
    position: relative;
}

.pase1{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
    border-bottom: solid rgba(4, 3, 3, 0.326) 3px;
}

.navbar{
    /* position: absolute; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9vw 7vw 0vw 7vw;
}

.right-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.navbar h1{
    white-space: nowrap;
    text-transform:capitalize;
    /* padding-bottom: 1vh; */
    font-size: 25px;
    border-bottom: solid rgb(0, 0, 0) 3px;
}

.part1-pic{
    width: 100%;
    min-height: 50vh;
    padding: 0vw 7vw 20vw 7vw;
    /* background-color: green; */
    margin-top: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,300px));
    grid-row-gap: 17vh;
    grid-template-rows: repeat(auto-fill,minmax(300px,300px));
    grid-column-gap: 2vw;
    /* justify-content: center; */
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
}
.part1-pic2{
    width: 100%;
    min-height: 50vh;
    padding: 0vw 7vw 20vw 7vw;
    /* background-color: green; */
    margin-top: -4vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,300px));
    grid-row-gap: 17vh;
    grid-template-rows: repeat(auto-fill,minmax(300px,300px));
    grid-column-gap: 2vw;
    /* justify-content: center; */
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    margin-bottom: -3vw;
}
.part1-pic3{
    width: 100%;
    min-height: 50vh;
    padding: 0vw 7vw 20vw 7vw;
    /* background-color: green; */
    margin-top: -4vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,300px));
    grid-row-gap: 17vh;
    grid-template-rows: repeat(auto-fill,minmax(300px,300px));
    grid-column-gap: 2vw;
    /* justify-content: center; */
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    margin-bottom: -3vw;
}
.part1-pic4{
    width: 100%;
    min-height: 50vh;
    padding: 0vw 7vw 20vw 7vw;
    /* background-color: green; */
    margin-top: -4vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,300px));
    grid-row-gap: 17vh;
    grid-template-rows: repeat(auto-fill,minmax(300px,300px));
    grid-column-gap: 2vw;
    /* justify-content: center; */
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    margin-bottom: -3vw;
}

.box1{
    background-color: yellow;
    position: relative;
    /* overflow: hidden; */
    top: 0px ;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-left: 2vw;
    /* line-height: 2vw; */
}

.box1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(width<700px){
    .part1-pic{
        justify-content: center;
    }
    .part1-pic2{
        justify-content: center;
    }
    .part1-pic3{
        justify-content: center;
    }
    .part1-pic4{
        justify-content: center;
    }
    .box1{
        background-color: yellow;
        position: relative;
        top: 0px ;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-left: 2vw;
        line-height: 3vw;
    }
}

.box1>p{
    padding-top: 1vw;
    padding-bottom: 1vh;
    font-size:1.1vw;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box1>h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 1.4vw;
    padding: 0.3vh 0vh;
}

.box1 h2:nth-child(5){
    color: rgb(0, 0, 0);
}

.red{
    height: 100vh;
    width: 100%;
    background-color: red;
}

.green
{
    height: 40vh;
    width: 100%;
    margin-top: 3vw;
    padding: 0vw 7vw 0vw 7vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.menu-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}