*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 10px;
}

.header{
    min-height: 100vh;
    width: 100%;
}

.navbar{
    height: 18vh;
    width: 100%;
    background-color: red;
    padding:0px 5rem ;
    /* position: sticky; */
    position: fixed;
    top: 0px;
}
.navbar2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    /* overflow: hidden; */
    padding-top: 1.2rem;

}
.left-navbar{
    display: flex;
    align-items: center;
    gap: 14rem;
}
.left-navbar ul{
    display: flex;
    align-items: center;
    gap: 7rem;
}
.left-navbar ul li a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.for-arrow .fa-solid{
    transform: rotate(-40deg);
    font-size: 2rem;
    font-weight: 600;
}

.right-navbar{
    display: flex;
    align-items: center;
    gap: 8rem;
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
    padding: 0.9rem 1.4rem;
    border-radius: 6rem;
}

.right-navbar li .fa-solid{
    font-size: 2rem;
}

.right-navbar li{
    list-style-type: none;
}

.left-part-good {
 height: 100%;
 width: 160px;
 /* background-color: yellow; */
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.box{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 17rem;
}

.how-to{
    font-size: 4rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 900;
 

 
}

.main{
    height: 70vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    margin-top: 19rem;
    justify-content: center;
    /* align-items: center; */
    
}

.main-container{
    height: 100%;
    padding: 0rem 5rem;
    width: 100%;
    background-color: rgb(153, 229, 153);
  
    white-space: nowrap;
    word-spacing: 0.1rem;
    align-items: center;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-container h1{
    font-size: 14rem;
    text-align: center;
    /* justify-content: center; */
    text-transform: uppercase;
    line-height: 20rem;
}

.main2{
    height: 100vh;
    width:100%;
    background-color: red;
}

@media (width<1500px){
.main-container{
    font-size: 11rem;
}}

@media (width<1208px){
.main-container{
    font-size: 9rem;
}}

@media (width<900px){
.main-container{
    font-size: 6rem;
}}