*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

::selection{
    color: black;
    background-color: yellow;
}

.main{
    width: 100%;
    position: relative;
    overflow: hidden;
}


/* for select tag  */
:root{
    --for-select-tag:right;
    --border-none:none;
    --background:transparent;
}

select{
    text-align: var(--for-select-tag);
    border: var(--border-none);
    background-color: var(--background);
    padding: 1vh 0.5vw;
    font-size: 19px;
}

select option{
    background-color:white;
    padding: 2vh 3vw;
    padding: 10vw;
    width: 100%;
    border: none;
}

.soluation select{
    padding: 1vh 0.1vw;margin-right: 1vw;
}


/* for-a tag  */

:root{
    --color:black;
    --font-size:1.7vh ;
    --font-faimaly:    font-family: 'Open Sans', sans-serif;
    --text-dec:none;
}

.hero-main{
    width: 100%;
    overflow: hidden;
}

.navbar{
    /* min-height: 5vw; */
    height: 6vw;
    width: 100%;
    /* position: absolute; */
    /* overflow: hidden; */
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    padding: 1.8vw 6vw;
    border-bottom: solid rgb(17, 15, 15,0.4) 1px;
    /* background-color: red; */
    background-color: white;
}

@media(width<1000px){
    :is(.product,.soluation,.resourse,.interprise,.pricing,.list ul li){
        display: none;
    }
    .navbar{
        justify-content: space-around;

    }
}

.left-navbar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1vw;
}

.right-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.list ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.list ul li{
    list-style-type: none;
}

.list ul li a{
    color: black;
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.right-navbar button{
    padding: 2.1vh 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    background-color: blue;
    font-size: 1.4vw;
    border: none;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.2s;
    color: white;
}

.right-navbar button:hover{
    background-color: rgb(3, 51, 51);
}

.left-navbar h2{
    font-size: 5vh;
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    /* margin-right: 2vw; */
}

@media(width<1000px){
    .left-navbar h2{
        font-size: 2.6vh;
    }
    .right-navbar button{
        padding: 1vh 2vw;
    }
}

.left-navbar select{
    font-size: 1.1vw;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product select{
    margin-left: 1vw;
}



.pricing a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: black;
    letter-spacing: 0.1vh;
}

.for-bottom-down {
}

.for-bottom-down::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(0, 0, 0);
    bottom: -25px;
    width: 0%;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.for-bottom-down:hover::before{
    width: 100%;
}


/* main start  */

.main{
    width: 100%;
    position: relative;
    overflow: hidden;
    /* border-bottom: solid red 3px; */
}

.hero-main{
    width: 100%;
    position: relative;
    /* padding: 0vw 10vw; */
    z-index: 10;
    /* background-color: red; */
}

.pase1{
 width: 100%;
 padding: 0vw 1vw 0vw 10vw;
 /* background-color: green; */
 position: relative;
 /* overflow: hidden; */
 margin-top: 6vw;
 display: grid;
 grid-row-gap: 30px;
 grid-template-columns:2fr 1fr;
 z-index: 10;
 grid-column-gap: 30px;
}

@media(width<1000px){
    .pase1{
        padding: 0vw 0vw;
        grid-template-columns:1fr;
        /* justify-content: center; */
        /* align-items: center; */
        place-items: center;
        text-align: center;

    }

    .left-pase1{
        text-align: center !important;
    }
}

.left-pase1{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vw;
    padding-top: 4vw;
    /* background-color: red; */
    padding-right: 1vw;

}
.left-pase1 h3{
    letter-spacing: 0.2vh;
    padding-bottom: 2vw;
    font-size:2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-pase1 h1{
    font-size: 2.7vw;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-pase1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 1.6vh;
}
.right-pase1{
    /* background-color: red; */
}

.right-pase1 img{
    height: 35vw;
    width: 45vw;
}

.line{
    width: 70vw;
    height: 0.4vh;
    position: relative;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4vw;
}


/* pase 2 start  */

.pase2{
    width: 100%;
    padding: 2vw 10vw;
display: grid;
grid-template-columns: 1.9fr 3fr;
grid-row-gap: 30px;
grid-column-gap: 80px;
/* background-color: red; */
margin-top: 4vw;

}

@media(width<600px){
    .pase2{
        grid-template-columns: 1fr;

    }
    
    *{
        font-size: 1.7vh !important;
    }
}

.left-phase2{
    width: 100%;
    flex-direction: column;
}


.img img{
    width: 3vw;
    border: solid black 2px;
}

.img{
    display: inline-block;
    display: flex;
    gap: 0.7vw;
    align-content: center;
}

.img h3{
    display: inline-block;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.written{
    top: 0px;
    left: 0px;

}
.written h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    padding-bottom: 1vw;
}

.a1{
    position: sticky;
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vw;
}

.stickey p{
    font-size: 1.1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

.box-subscribe{
    width: 100%;
    background-color: rgb(222, 222, 222);
    margin-bottom: 1vw;
    padding: 1vw 1vw;
}
.box-subscribe h2{
    font-size: 1.9vw;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    padding-bottom: 1vw;
}

.box-subscribe p{
    font-size: 1.1vw;
}

.enter-email{
    width: 100%;
    background-color: rgb(222, 222, 222);
    padding: 1vw 0vw;
}
.enter-email h2{
    padding-left: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enter-email input{
    width: 100%;
    padding: 1vw;
    background: transparent;
    font-size: 1.6vw;
    font-weight: 800;
    color: rgb(20, 14, 14);
    border: none;
}

.heading{
    font-size: 1.8vw;
    padding-bottom: 1vw;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.for-flex{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.paragraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1vw;
    text-align: justify;
}

.right-phase2{
    border-bottom: solid black 3px;
    padding-bottom: 4vw;
}

.sign{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sign .fa-brands{
    font-size: 1.9vw;
}

.a2{
    z-index: 1;
    width: 100%;
    position: sticky;
    top: 200px;
}