*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    /* background-color: aqua; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
}
.navbar2 ul li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 15px;
    list-style-type: none;
    
}


.navbar2 ul li a{
    /* border-style: solid; */
    /* border-color: brown;
    border-width: 2px;
    padding: 5px 10px; */
    /* border-radius: 20px; */
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navbar2 ul li a:hover{
    border-style: solid;
    color: white;
    background-color: rgb(17, 74, 76);
    /* border-color: black; */
    padding: 5px 10px;
}

.number p{
    padding-top: 15px;
    font-size: 2rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.details h1{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    position: relative;
    bottom: 44px;
    width: 357px;
    left: 106px;
    border-bottom: solid red ;
    box-shadow: 10px 0px 10px red;
}

.details h3{
    position: relative;
    bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.details p{
    position: relative;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-display: initial;
}

.details button{
    width: 100px;
    height: 35px;
    position: relative;
    left: 200px;
    background-color: green;
    color: white;
    font-size: 20px;
}



.details button:hover{
    border-style: solid;
    border-color: rgb(18, 112, 220) red yellow rgb(161, 14, 223);
    border-width: 5px;
    /* transform: scaleX(3); */
    transform: skew(10deg);
    transform: translate(10px,10px);
}
.landing{
    padding-top: 30px;
    display: flex;
    margin: 0px 50px;
    margin-left: 180px;
}


.video iframe{
    border-style: solid;
    border-color: lawngreen;
    border-width: 4px;
    border-radius: 20px 0px 20px 0px;
    margin-left: 50px;
}
.box{
    border-style: none;
    border-color: black;
    height: 300px;
    width: 100vw;
    margin: 0px auto;
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(13, 65, 161);
    
}


.box1{
    border-style: none;
    border-color: brown;
    border-width: 2px;
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: rgb(230, 208, 9);
}

.box1 :hover{
    transform: translate(20px,-10px);
}


#hello1 iframe{
    padding-left:22px;
    /* border-style: solid; */
    /* border-color: rgb(170, 19, 235); */
    /* border-width: 3px; */
    border-radius: 70px;
    padding-top: 10px;
}

.details p{
    width: 600px;
}

.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#hello1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lastsection{
    border-style: solid;
    border-color: black;
    height: 90vh;
    margin-top: 30px;
    width: 90vw;
    margin-left: 65px;
    text-align: center;
    background-color: rgb(174, 221, 222);
}

.flex1{
    border-style: solid;
    border-color: brown;
    border-width: 2px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    flex-direction: row;
    margin-left: 40px;
    box-sizing: border-box;
}

.class11 p{
    width: 300px;
    margin-left: 140px;
    position: relative;
    bottom: 60px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}


.flex3{
    position: relative;
    left: 441px;
    bottom: 616px;
}

.photo2 iframe{
    position: relative;
    bottom: 1090px;
     left: 419px;
     border-style: solid;border-color: dodgerblue;
     border-width: 3px;
     border-radius: 70px;
}

footer{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    padding: 0px 30px;
}
.ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 300px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.ul ul li{
    list-style-type: none;
    font-size: 15px;
    line-height: 50px;
    line-break: 20px;
}

.lastone{
   background-color: black;
   color: white;
   width: 100%;
   text-align: center;
}