*{
    padding: 0;
    margin: 0;
    font-family: "Cousine", monospace;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
html,body{
    height: 100%;
    background-color: #F0EFE9;
    width: 100%;
}



nav{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
 background-color: #F1EFE9;
    height: 150px;
    padding: 20px 5%;
    box-shadow: 0px 1px 30px rgb(255, 255, 255);

}

.navbar{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.left-navbar{
    position: relative;
    width: 33%;
}

.center-navbar{
    position: relative;
    width: 33%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    /* background-color: red; */
}

.gola-pic{
    position: absolute;
    height: 100%;
    animation-name:suraj;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
    animation-delay: 2s;
}
.ramond{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    opacity: 0;
    width: 100%;
    animation-name:suraj;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes suraj {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes singh {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.right-navbar{
    position: relative;
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.right-navbar i{
    font-size: 20px;
}
.right-navbar h3{
    font-size: 20px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 10;
    font-weight: 500;
    overflow: hidden;
}

.right-navbar h3 span{
    /* background-color: #D4C6E6; */
    padding: 2px 6px 1px 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 20px;
}
.right-navbar h3 span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: #D4C6E6;
    z-index: -1;
}

.right-navbar h3 span:hover::before{
    bottom: -20px;
}


.raper{
    position: relative;
    width: 100%;
    padding: 0px 15%;
}

.pase1{
    width: 100%;
    position: relative;
    z-index: 10;
    padding: 70px 0px 0px 0px;
margin-top: 140px;
}

.pase1 h2{
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.responssive-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.responsive-image{flex-basis: 60%;
}
.responsive-image img{
    transition-property: all;
    transition-duration: 0.3s;
    position: relative;
    z-index: 11;
    width: 100%;
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.834);
}
.responsive-image img:hover{
    box-shadow: 0px 0px 0px transparent;
}
.reosing{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: start;

}

.reosing img{
    height: 100px;
}

.reosing h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
}


.reosing p{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.main-container-kind{
    position: relative;
    width: 100%;
    bottom: 100px;
    display: flex;
    justify-content: end;
    z-index: 10;
}

.small-container{
    position: relative;
    background-color: #E2DED1;
    width: 78%;
}

.one-kind{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-kind{
    width: 50%;
}
.right-kind{
    width: 50%;
    padding: 3vw 3vw 0px 3vw;
}

.right-kind p{font-size: 13px;
    width: 60%;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.image-container{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 20px;
}
.image1{
    position: relative;
}
.medal{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    margin-top: 40px;
    text-align: center;
    padding: 0px 10%;
}

.box1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0px 20px  20px 20px;
}
.box1 h3{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
}
.image-gola{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;border: solid black 1px;
    align-items: center;
    justify-content: center;
}
.box1 h2{
    font-size: 20px;
}
.box1 h1{
    font-size: 14px;
}

.kalu{
    height: 200px;
    position: absolute;
    width: 200px;
    display: none;
    clip-path: polygon(100% 0, 100% 57%, 100% 79%, 49% 100%, 0 75%, 0 50%, 0 0);
    background-color: red;
}

.image1:hover .kalu{
    display: block;
}


.newest-pase{
    position: relative;
    width: 100%;
}

.newest-pase h3{
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    /* margin-bottom: 20px; */
}

.nomnies-image-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}

.dba{
    position: relative;
    width: 300px;
}

.dba img{
    width: 100%;

}

.dba-meaning{
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding: 2vw 1vw;
    line-height: 0.2;
}
.studeo {
    margin-bottom: 20px ;
    font-weight: 900;
    font-size: 16px;
}


.dba-fotter{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}


.dba-fotter span{
    font-size: 12px;
    position: relative;
}

.dba-fotter span::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 13px;
    background: url(https://www.cssdesignawards.com/imgs/icon-trophy-light.svg);
    left: -20px;
    top: -7px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.newest{
    position: relative;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.nes{
    position: relative;
    z-index: 10;
    padding: 3px 4px;
    margin-right: 10px;
}
.nes::before{
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #D4C6E6;
    bottom: 0px;
  z-index: -1;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

 .nes:hover::before{
    bottom: -100%;
}

.newest i{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.405);
}

.dba-image{
    position: relative;
    width: 100%;
}

.black-panther{
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.916);
    width: 100%;
    color: white;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    padding: 20px;
}

.heading-panther{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.left-side span h3{
    font-size: 14px;
    text-transform: uppercase;

}

.center-panther{
    position: absolute;
    left: 0px;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 10px;
}

.center-panther h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.dba-image:hover .black-panther{
    opacity: 1;
}

.previous-wotds{
    position: relative;
    width: 100%;
    margin-top: 80px;
}


.pre{
    display: block;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: initial;
    overflow: hidden;
}

.wodts{
    padding: 3px 4px;
    margin-right: 10px;
    position: relative;
 
    z-index: 10;
}
.wodts::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 8px;
    top: 0px;
    height: 100%;
    background-color: #D4C6E6;
    z-index: -1;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    
}
.wodts:hover::before{
    top: 100%;
}

.previous-container{
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.dba1{
    position: relative;
    width: 300px;
}
.dba1 img{
    width: 100%;
}

.dba-fotter p{
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px;
    position: relative;
}

.dba-fotter p::before{
    content: "";
    position: absolute;
  height: 15px;
  width: 2px;
  background-color: rgb(0, 0, 0);
  top: -5px;
  left: -8px;
}

.more
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
}
.more-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.more-tag{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing:3px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
}
.more-tag i{
    position: absolute;
    right: -15px;
    top: 20%;
    color: rgba(0, 0, 0, 0.64);
    z-index: 20;
}
.ore{
    position: relative;
    display: inline-block;
    z-index: 10;
    padding: 3px 30px 3px 2px;
    overflow: hidden;
}
.ore::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0%;
    z-index: -1;
    background-color: #D4C6E6;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.ore:hover::before{
top: 80%;
}
.more-container{
    width: 100%;
    position: relative;
display: flex;
justify-content: center;
}

.image-part-more{
    position: relative;
    width: 60%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.image-part-more img{
    width: 100%;
    height: 100%;
}

.upeer-btn{
    position: absolute;
    height: 30px;
    width: 30px;
    border: solid rgb(0, 0, 0) 1px;
    right: 0px;
    bottom: 0px;
    display: grid;
    place-items: center;
}

.image-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: 0.2;
    transition-timing-function: linear;
    background-color: rgba(148, 145, 145, 0.134);
    opacity: 0;
}

.image-part-more:hover .image-hover{
    opacity: 1;
}

footer{
    position: relative;
    width: 100%;
    margin-top:40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    position: relative;
    width: 33%;
}
.footer-left h3{
    font-family: "Raleway", sans-serif;
}

.footer-center{
    position: relative;
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.footer-right h3{
    font-family: "Raleway", sans-serif;
}

.footer-center i{
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    border: solid rgb(0, 0, 0) 1px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.footer-center i:hover{
    color: cyan;
    background-color: black;
    background-clip: border-box;
    border: none;
}