* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.main {
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}
.hero-main {
  width: 100%;
   position: relative;
  /* overflow: hidden;  */
}

.navbar1 {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f3b3b;
  padding: 0.7vw 3vw;
  border-bottom: solid white 1px;
}

.left-first ul {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.left-first ul li {
  list-style-type: none;
}

.left-first ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
  font-size: 1.2vw;
}
.left-first ul li a:hover{
    color: green;
}
.left-first ul li a .fa-solid{
    font-size: 1.1vw;
    transition-property: transform;
    transition-duration: 0.5s;
    padding-left: 0.4vw;
}

.left-first ul li a:hover .fa-solid {
  transform: rotate(-90deg);
}
.right-first {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.right-first .fa-solid,
.fa-regular {
  font-size: 1.3vw;
  color: white;
  cursor: pointer;
}

.right-first button {
  padding: 0.7vw 1.4vw;
  color: white;
  border: none;
  background-color: black;
  font-weight: 500;
  border-radius: 10px;
}

.middle-first img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  filter: brightness(2);
}




/* navbar1 last  */

/* navbar2 start  */

.navbar-second{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #5d5d5d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7vw 3vw;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.left-second ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.left-second ul li{
    list-style-type: none;

}
.left-second ul li a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
}
.left-second ul li a:hover{
    color: green;
}

.left-second ul li i{
    transform: rotate(180deg);
}


/* navbar2 last  */

/* main-pase start  */


.main-pase{
    /* min-height: 150vh; */
    width: 100%;
    position: relative;
    padding: 0.7vw 3vw;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.8fr;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    grid-auto-rows: 1fr;
    margin-bottom: 0px;
    border-bottom: solid red 3px;
}
@media(width<900px){
    .main-pase{
        grid-template-columns:1fr;

    }
    *{
        font-size: 1.6vw !important;
    }
}
.left-pase{
    /* height: 110vh; */
    overflow:hidden;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0vw 1vw;
}
.left-slider{
    height: 105%;
}
.left-slider ul li{
    list-style-type: none;
    margin-top: 1vw;
}

.left-slider ul li a{
    text-decoration: none;
    color:white ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.right-pase{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 1vw;

}
.right-pase h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2vw;
    overflow: hidden;
    color: white;
}
.slider{
    width: 100%;
    /* height: 100px; */
    position: absolute;
    overflow-x: scroll;
}
.slider2{
    width: 200%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    gap: 50px;
}

.box1{
    width: 230px;
    height: 320px;
    background-color: rgb(6, 5, 5);
    border: solid white 1px;
}
.box2{
    width: 230px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    border: solid white 1px;
    position: relative;
}
.box3{
    width: 230px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    border: solid white 1px;
    position: relative;
}
:is(.box1,.box2,.box3) :is(h2){
    color: white;
    font-size: 1.6vw;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:is(.box1,.box2,.box3) :is(button){
   margin-left: 10px;
   color: rgb(14, 164, 14);
   border: solid green 2px;
   text-transform: capitalize;
   border-radius: 10px;
   background-color: transparent;
   font-weight: 700;
    padding: 4px 20px;
}
:is(.box1,.box2,.box3) :is(p){
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 4px;
}
.center-pase{
    /* background-color: cyan; */
    padding-left: 2vw;
    /* overflow: hidden; */
}

.center-pase h1{
font-size: 2vw;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif4;
font-weight: 700;
padding-bottom: 1vw;
color: white;
}

.center-pase p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    word-spacing: 0.4vw;
    line-height: 1.5vw;
    padding-bottom: 0.7vw;
    color: white;
}
.center-pase p a{
    color: greenyellow;
}
.center-pase p abbr{
    color: red;
}
.small{
    width: 30vw;
    margin-bottom: 3vw;
}

.sticky-button{
    position: sticky;
    top: 40px;
    background-color: black;
    display: flex;
    gap: 1vw;
    padding: 2vw 0vw;
    margin-bottom: 2vw;
    justify-content: space-around;
}

.sticky-button button{
    padding: 0.5vw 1.3vw;
    font-weight: 500;
    border: white solid 1px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    margin-left: 0.3vw;

}

.what{
    margin-bottom: 3vw;
}

.code1{
    width: 100%;
    background-color: rgb(246, 228, 228);
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2vw;
    position: relative;
    padding: 2vw 0vw;
}
.code1 pre{
    transform: translateX(-40px);
    color: red;
    font-size: 1.1vw;
}
.code2 pre{
    transform: translateX(-40px);
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    margin-top: 2vw;
}

.right-menu{
    display: flex;
    align-items: center;
}
.right-menu .fa-solid{
    color: white;
    padding-left: 2vw;
}

.khatrnak{
    position: relative;
    width: 100%;
    background-color: green;
    height: 100vh;
}