*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 20px;
    overflow-x: hidden;
}

::selection{
    color: black;
    background-color: cyan;
}

.for-padding{
padding: 2rem 5rem 2rem 5rem;
}


.header{
    min-height: 100vh;
    width: 100%;
}

.main-container{
    height: 100vh;
    background:url('https://static.powtoon.co/cldn/site/home%20page/homepage-banner.jpg')  ;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.navbar-first{
    height: 10vh;
    width: 100%;
    display: flex;
/* justify-content: center; */
justify-content: space-around;
align-items: center;
padding: 0px 4rem 0px 3rem;
gap: 4rem;
}

.logo img{
    height: 40px;
    filter: brightness(100);
}

.anchor-tag ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.anchor-tag ul li{
    list-style-type: none;
}

.anchor-tag ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    color: white;
    position: relative;
}

.anchor-tag ul li a::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -10px;
    transition: 0.2s;
}
.anchor-tag ul li a:hover::before{
    background-color: #c5e554;
    width: 100%;
}

.right-anchor-tag ul{
display: flex;
align-items: center;
gap: 1rem;
}

.right-anchor-tag ul li{
    list-style-type: none;
}

.right-anchor-tag ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 254, 254);
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    position: relative;
}
.right-anchor-tag ul li a::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -10px;
    transition: 0.2s;
}
.right-anchor-tag ul li a:hover::before{
    background-color: #c5e554;
    width: 100%;
}
.right-anchor-tag button{
    padding: 0.5rem 1.2rem;
    border-radius: 4rem;
    color: blue;
    background-color: white;
    border: none;
    font-weight: 700;

}

.anchor-tag{
    transform: translateX(-5rem);
}

.center-main{
    height: 90vh;
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
   grid-column-gap: 3rem;
}

.right-part-of-main{
    height: 70%;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
}
.box{
    /* height: 100%; */
    width: 100%;
    /* overflow: hidden; */

}

.box video{
    /* height: 10%; */
    width: 100%;
}

.left-paragraph{
    height: 100%;
    width: 100%;
    padding: 5rem 0rem 0rem 3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.left-paragraph h1{
    font-size: 2.4rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    color: white;
}

.left-paragraph p{
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.left-paragraph span{
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

.left-paragraph button{
    padding: 0.7rem 1rem;
    width: 40%;
    border-radius: 4rem;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.left-paragraph button::before{
    content: "";
    position: absolute;
    height: 20px;
    z-index: 10;
    right: 0px;
    width: 20px;
    background-color:transparent;
    border-radius: 100%;
    /* box-shadow: 0px 0px 10px 10px #4bccff; */
    transition: 1s;
}


.left-paragraph button:hover::before{
box-shadow: 0px 0px 10px 10px #4bccff;
height: 30px;
width: 30px;
transform: translateX(100px);
background-color: rgb(0, 0, 0);
}



/* break throught start   */


.break-throuth-h1-tag{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Sacramento', cursive;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 0.5rem;
}
.break-for-h2-tag{
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Sacramento', cursive;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    width: 60%;
    line-height: 1rem;
}

.break-through{
    height: 110vh;
    width: 100%;
    /* background-color: red; */

}

.comunicate{
    height:22vh;
    width: 100%;
    text-align: center;
}
.comunicate h1{
    font-size: 1.2rem;
    text-align: center;
    /* width: 50%; */
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 1rem;
}

.comunicate p{
    font-size:0.7rem;
    font-family: 'Abel', sans-serif;
}

.hr-part{
  height: 80vh;
  /* background-color: green; */
  width: 100%;
}
.hr-for-grid{
    
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 1rem;
    /* justify-content: center; */
    height: 100%;
    align-items: center;
}

.left-hr-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    height: 100%;

}


.part1{
    position: relative;
    padding-bottom: 1rem;
}
.part1::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 70%;
    background-color: black;
    
}
.part1::after{
    content: "";
    position: absolute;
    right: 122px;
    height: 1rem;
    width: 1rem;
    border-right: solid #19a3aa 3px;
    border-bottom: solid #14cccc 3px;
    transform: rotate(-40deg);
}
.part2{
    position: relative;
    padding-bottom: 1rem;
}
.part2::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 70%;
    background-color: black;
}
.part2::after{
    content: "";
  position: absolute;
  right: 122px;
  height: 1rem;
  width: 1rem;
  border-right: solid #19a3aa 3px;
  border-bottom: solid #14cccc 3px;
  transform: rotate(-40deg);
}
.part3{
    position: relative;
    padding-bottom: 1rem;
}
.part3::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 70%;
    background-color: black;
}
.part3::after{
    content: "";
    position: absolute;
    right: 122px;
    height: 1rem;
    width: 1rem;
    border-right: solid #19a3aa 3px;
    border-bottom: solid #14cccc 3px;
    transform: rotate(-40deg);
}
.part4{
    position: relative;
    padding-bottom: 1rem;
}
.part4::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 70%;
    background-color: black;
}
.part4::after{
    content: "";
  position: absolute;
  right: 122px;
  height: 1rem;
  width: 1rem;
  border-right: solid #19a3aa 3px;
  border-bottom: solid #14cccc 3px;
  transform: rotate(-40deg);
}
.part5{
    position: relative;
    padding-bottom: 1rem;
}
.part5::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 70%;
    background-color: black;
}
.part5::after{
    content: "";
    position: absolute;
    right: 122px;
    height: 1rem;
    width: 1rem;
    border-right: solid #19a3aa 3px;
    border-bottom: solid #14cccc 3px;
    transform: rotate(-40deg);
}

.for-line{
    color: black;
}

.for-line:hover{
    color: #19a3aa
}



.right-hr-part{
    height:100%;
    /* text-align: left; */
    display: flex;
    /* align-items: center; */
    width: 100%;
    flex-direction: column;
}

.pic{
    height: 60%;
    width: 100%;
    margin-bottom: 1rem;
}

.pic img{
    height: 100%;
    width: 100%;
}

.classroom{
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Sacramento', cursive;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 3rem 0px 3rem;
}

.right-hr-part button
{
    width: 40%;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 4rem;
    border: none;
    padding: 0.4rem 1rem;
    color: white;
    font-size: 0.8rem;
    font-family: 'Sacramento', cursive;

    font-family: 'Ubuntu', sans-serif;
    background-color: blue;
}



/* start powtan comnay   */


.powton-company{
    height:70vh;
    width: 100%;
    background: rgba(78,24,221,1);
    margin-top: 3rem;
 display: flex;
 flex-direction: column;
 text-align: center;
 /* justify-content: space-around; */
}

.powton-hedaing{
    color: white;
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;

    font-family: 'Ubuntu', sans-serif;
}

.botton2 button{
    padding: 0.5rem 4rem;
    border-radius: 4rem;
    border: none;
    color: blue;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;

}

.botton2 button:hover{
    background-color: rgb(6, 101, 101);
    color: white;
}



/* comunication start   */


.comunication{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.comunication-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.a1{
    width: 10rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    border-radius: 2rem;
}
.a1:hover{
    box-shadow: 0px 0px 10px 3px rgb(37, 36, 36,0.4);
}
.a2:hover{
    box-shadow: 0px 0px 10px 3px rgb(37, 36, 36,0.4);
}
.a3:hover{
    box-shadow: 0px 0px 10px 3px rgb(37, 36, 36,0.4);
}
.a4:hover{
    box-shadow: 0px 0px 10px 3px rgb(37, 36, 36,0.4);
}
.a5:hover{
    box-shadow: 0px 0px 10px 3px rgb(37, 36, 36,0.4);
}
.a2{
    height: 13rem;
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 2rem;
}
.a3{
    height: 13rem;
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 2rem;
}
.a4{
    height: 13rem;
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 2rem;
}
.a5{
    height: 13rem;
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 2rem;
}


.comunication-pic img{
    height: 7rem;
}

.cumunication-hedaing h1{
    font-size: 2.4rem;
    font-family: 'Teko', sans-serif;
 text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}

.comunication-paragraph{
    font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
}


/* no matter start  */


.no-matter{
 min-height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.no-matter-main-grid{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    /* height: 90%; */
    grid-column-gap: 2rem;
    width: 100%;
    /* background-color: green; */
    grid-column-gap: 2rem;
    
}

.left-matter{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    align-items: center;

}
.left-matter h2{
    font-weight: 200;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right-matter{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
}

.right-matter img{
    height: 100%;
    width: 100%;
}

.botton4 button{
    padding: 0.6rem 1.7rem;
border: none;
text-transform: uppercase;
background-color: blue;
font-size: 0.8rem;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.botton4 button:hover{
    background-color: rgb(1, 70, 73);
}
footer{
 min-height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    grid-column-gap: 1rem;
    text-align: center;
    background-color: #d6d6d6;
}

.company{
    text-align: center;
}

.for-padding ul li{
    list-style-type: none;
    display: block;
}

.for-padding ul li a{
    line-height: 1.2rem;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.for-padding ul li a:hover{
    color: red;
}

.for-padding ul li h1:nth-child(1)
{
font-size: 1rem;
padding-bottom: 2rem;
text-transform: uppercase;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}