*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.header{
    height: 30px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
}

#header{
    color: white;
   margin-left: 50px;
   align-items: center;
   padding-top: 50px;
   /* font-size: 100px; */
}

.header .fa-solid{
    color: rgb(29, 222, 55);
    font-size: 20px;
    /* margin-left: 50px; */
    padding-left: 50px;
    position: absolute;
    left: -30px;
    animation-name: singh;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* padding-top: 80px; */
}

@keyframes singh{
    0%{color: green;}
    50%{color: rgb(230, 145, 19);}
    100%{color: rgb(223, 57, 118);}
}

/* start secondheader */




.secondheader{
    height: 110px;
    width: 100%;
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-evenly;
}


.section1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#homeland{
    color: rgb(22, 99, 232);
}


.a1{
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(24, 24, 176);
}

#inthe{
    color: rgb(11, 95, 184);
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 800;
    /* text-decoration: crimson 3px solid; */
    text-decoration: underline dotted red;
}



/* section1 last */

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


select{
    padding: 5px 10px;
    background-color: rgb(245, 249, 250);
    border: solid rgb(118, 88, 88) 3px;
   margin-top: 10px;
}

select option{
    background-color: rgb(13, 20, 66);
    box-shadow: 10px 0px 10px red;
    color: white;
    line-height: 100px;
    margin-top: 100px;
    border-radius: 20px;
}

select .option1{
    background-color: red;
    padding-bottom: 30px;
}

.section2 a{
    font-size: 25px;
    color: rgb(40, 151, 151);
}







/* section2 last */


.section3{
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}


.section3 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -25px;
   
}

.section3 ul li{
    list-style-type: none;
    margin-left: 10px;
}


.section3 ul li a{
    font-size: 17px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}


.section3 a:link{
    color:rgb(11, 5, 100)
}
/* 
.section3 a:visited{
    color: green;
} */

.section3 a:active{
    color: blue;
} 

.section3 a:hover{
    color: red;

}

.fa-brands ,.fa{
    font-size: 20px;
    margin-left: 15px;
    border: solid green 1px;
    background-color: rgb(10, 78, 33);
   padding: 3px;
   margin-top: 10px;
    color: white;
}

/* 
.serch{
    border: solid rgb(13, 8, 8) 3px;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.serch input{
    border: solid black 3px;
    margin-top: 10px;
    padding: 3px 4px;
    font-size: 14px;
    align-items: center;
    display: flex;
    justify-content: center;
}


/* section3 last */

.thirdheader{
    /* 0123border: solid red 3px; */
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.part1{
    background-color:rgb(19, 117, 147);
    width: 14%;
    padding-right: 10px;
    font-size: 17px;
    text-align: center;
    transition: 3s;
    font-family: system-ui;
    position: relative;
    overflow: visible;
    /* font-family: <i class=" fa-duotone fa-house-chimney " style=" color: #1c7ed6; " ></i>; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.drop{
background-color: #190855;
width: 70%;
/* height: 300px; */
display: flex;
display: none;
flex-direction: column;
overflow: visible;
transition: all;
transition-duration: 3s;
transition-timing-function: ease;

}
.drop2{
background-color: #190855;
width: 300px;
/* height: 300px; */
display: flex;
display: none;
flex-direction: column;
overflow: visible;

/* padding: 20px 60px; */


}

.part1:hover .drop  {
  display: inline-block;
  position: absolute;
/* bottom: -176px; */
/* border: solid red 8px; */
/* bottom: 0px; */
top: 30px;
z-index: 999;

left: 40px;
line-height: 30px;
width: 142px;
color: white;
/* border-radius: 30px; */
box-shadow: 0px 0px 10px 2px rgb(3, 133, 18);
   
}

#list1:hover {
    background-color: rgb(20, 228, 20);
    transform: translateY(10px);
}

#list2:hover {
    background-color: rgb(20, 228, 20);
    transform: translateY(10px);
    height: 50px;
}
#list2{
    padding-bottom: 20px;
}

.part2:hover .drop2  {
    display: inline-block;
    position: absolute;
  /* bottom: -176px; */
  /* border: solid red 8px; */
  /* bottom: 0px; */
  top: 30px;
  z-index: 999;
  background-color: rgb(12, 27, 12);
  left: 0px;
  /* line-height: 100px; */
  width: 300px;
  color: white;
  /* border-radius: 30px; */
  box-shadow: 0px 0px 10px 2px rgb(4, 57, 74);
     
  }
  
.part1:hover .drop li{
    list-style-type: none;
   line-height: 50px;
}

 
.part2:hover .drop2 li{
    list-style-type: none;
   line-height: 50px;
   /* background-color: chartreuse; */
}

#list3:hover{
    background-color: deepskyblue;
}

.part1 a{
    color: white;
    text-decoration: none;
}

.part2{
    background-color: rgb(19, 117, 147);
    width: 15%;
    text-align: center;
    font-family: system-ui;
    position: relative;
   
}

.part2 a{
    color: white;
    text-decoration: none;
}

.part3{
    background-color: rgb(6, 7, 90);
    width: 40%;
    text-align: center;
    font-family: system-ui;
    
}


.part3 a{
    color: white;
    text-decoration: none;
}
.part4{
    background-color: rgb(15, 70, 5);
    width: 30%;
    /* height: 100px; */
    text-align: center;
    font-family: system-ui;
    position: relative;
    z-index: 999;
   
}

.part4 a{
    color: white;
    text-decoration: none;
}





/* thirdheader :last-child */


.main{
    
    height: 530px;
    width: 100%;
    background-image: url(../images/for\ school\ tamplate\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* opacity: 0.9; */
    overflow: hidden;
    position: relative;
    animation-name: suraj;
    animation-timing-function: linear;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    z-index: 5;
}


 @keyframes suraj{
    0%{background-position: top;}
    50%{background-position: bottom;}
    100%{background-position: top;}
}

.mainpages{
    position: absolute;
    height: 700px;
    width: 700px;
    top: -80px;
    background-color: rgb(242, 229, 229);
    left: -140px;
    transform: rotateZ(40deg);
    text-align: center;
}
.sevp{
  
   /* border: solid red 2px; */
   transform: rotateZ(-40deg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    margin-top: 200px;
}


#skuniversity span{
    font-size: 40px;
    
   background: url(../images/forest2.jpg);
    color: transparent;
    -webkit-background-clip: text;
    /* -webkit-background-origin: text; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skuniversity1 span{
    color:  rgb(25, 25, 158);
}

#paragraph{
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.learnmore{
   padding-top: 20px;
    /* border: solid blue 3px; */
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(11, 11, 66);
    padding: 5px 10px;
    overflow: hidden;
    margin-top: 20px;
}

#learn a{
    color: white;
}

.learnmore .fa-brands{
    color: rgb(238, 231, 231);
    position: absolute;
    right: 10px;
    height: 120%;
    font-size: 30px;
    background-color: green;

}


/* main last */


.lastborder{
    height: 30px;
    width: 100%;
    background-color: rgb(26, 128, 17);
}


/* lastborder last */

.box{
height: 185px;
width: 60vw;
/* border: solid red 2px; */
align-items: center;
margin-left: 299px;
margin-top: 30px;
display: flex;
justify-content: space-around;
}


.box3{
    height: 90px;
    width: 18vw;
    background-color: rgb(12, 74, 108);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 2s;
    
}

.box3:hover{
    transform: translate(30px ,30px);
    margin-right: 20px;
    box-shadow: 0px 0px 10px 0px black;
}
.box4{
    height: 90px;
    width: 18vw;
    background-color: rgb(12, 74, 108);
    display: flex;
    justify-content: space-around;
    align-items: center;
      transition: 2s;
}

.box4:hover{
    transform: translate(30px ,30px);
    margin-right: 20px;
    box-shadow: 0px 0px 10px 0px rgb(220, 9, 202);
}
.box5{
    height: 90px;
    width: 18vw;
    background-color: rgb(11, 5, 100);
    display: flex;
    justify-content: space-around;
    align-items: center; 
     transition: 2s;
}
.box5:hover{
    transform: translate(30px ,30px);
    margin-right: 20px;
    box-shadow: 0px 0px 10px 0px rgb(9, 221, 228);
}


.pic1{
    height: 70px;
    background-color: white;
    width: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.pic2{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.pic3{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.pic1 .fa-solid {
    font-size: 30px;
    color: rgb(12, 74, 108);
    position: absolute;
}



.pic2 .fa-solid {
    font-size: 30px;
    color: rgb(12, 74, 108);
    position: absolute;
}

.fa-regular{
    font-size: 35px;
    color: rgb(243, 23, 206);
    position: absolute;
}

.box h2{
    color: white;
}



/* .box last  */

.footer{
    width: 100%;
    background-color: #080808eb;
    text-align: center;
    color: white;
}

.q1{
    font-size: 20px;
    line-height: 21px;
    padding-top: 10px;
}

pre{
    margin-top: 20px;
    background-color: #0b1758ba;
}