@media (width<1300px) {
  .search-box {
    width: 40%;
  }
  .insprtion-list {
    display: none;
  }
}

@media (width<800px) {
  .submit {
    display: none;
  }
  .figma-design-part {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .figma-image {
    height: 200px;
  }
  .figma-part4 {
    display: none;
  }
  .news-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 100%;
  }
  .right-news-part {
    width: 100%;
    grid-column: 1/-1;
  }
  .footer-flex{
    flex-direction: column;
    gap: 20px;
  }
  .last-line-footer{
    flex-direction: column;
    gap: 20px;
  }
}

@media(width<550px){
    .botton-box{
        display: none;
    }
    .input-search{
        gap: 0px;
    }
    .input-search input
    {
        padding: 5px;
        font-size:13px;
        
    }
    .navbar{
        justify-content: space-evenly;
    }
    .search-box{
        width: 200px;
    }
    .news-list {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-columns: 100%;
      }
      .name-part ul li{
        font-size: 13px;
        display: none;
      }
      .address-part ul li {
        font-size: 20px;
        display: none;
      }
      .three-pic-flex {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        justify-content: center;
        margin-top: 2vw;
      }
      .img{
        height: 40vw;
      }
      .img img{
        /* height: 200px; */
      }
      .left-follow h1 {
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
      }
      .nominess1{
        font-size: 40px;
      }
      
.nominess1::after {
  position: absolute;
  content: "cool site!";
  font-size: 13px;
  white-space: nowrap;
  background-color: yellow;
  border-radius: 10px;
  padding: 3px 10px;
  top: 15px;
  right: -14px;
}
.elememt-h1-tag{
  font-size: 40px;
}
.last-line-footer{
  display: none;
}
}