*{
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    text-transform: capitalize;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 40px;
}

:root{
    --h3_font_size:0.5rem;
    --paragraph_font_size:0.4rem;
    
}
p{
    color: black;
    font-weight: 300;
    font-size: var(--paragraph_font_size);
}
/* -------------------   */
.nav-main{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    display: flex;
    flex-direction: column;
}
.comfort_treat{
    position: relative;
    width: 100%;
    background-color: #F9F6F1;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    gap: 20px;
    border-top: solid orange 1px;
    border-bottom: solid orange 1px;
}
.comfort{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comfort h3{
    font-size: var(--h3_font_size);
}
.comfort p a{
    font-size: 10px;
    color: initial;
    text-decoration-line: underline;
}
.end_time p{
    font-size: 12px;
}






 /* .............  */








.moving_navabr{
    width: 100%;
    background-color: #EFEFEF;
    padding: 2px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    position: relative;
    justify-content: space-between;
}
.left-moving{
    padding: 10px;
    width: 70%;
    overflow: scroll;
}
.moving-raper{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-movimg-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    animation-name: animate;
    animation-duration: 6s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.left-movimg-container p{
    margin-left: 200px;
    color: black;
}
.left-movimg-container p a{
    margin-left: 200px;
    color: black;
}
.left-moving::-webkit-scrollbar{
    display: none;
}
.right-moving{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    letter-spacing: 1px;
}

.help{
    display: flex;
    align-items: center;
}


@keyframes animate {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* ,,,,,,,,,,,,,   */







.nemans{
    position: relative;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    border-bottom: solid rgba(0, 0, 0, 0.132) 1px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

#menu_bar{
    display: none;
}

.nemans-center{
    display: flex;
    align-items: center;
}

.nemans-center p{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.nemans-center p span {
    margin-left: 5px;
    color: black;
    opacity: 0.6;
    font-size: 14px;
}

.nemans-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.search-icon{
    display: flex;
    align-items: center;
}
.search-icon span{
    font-size: 14px;
    margin-right: 10px;
}
.search-icon p{
    text-transform: uppercase;
}

.store-loaction{
    display: flex;
    align-items: center;
    gap: 10px;
}

.store-loaction span{
    font-size: 13px;
}

.store-loaction p{
    text-transform: uppercase;
}
.cart{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart span{
    font-size: 13px;
}
.cart p{
    text-transform: uppercase;
}

.nemans-left svg{
    fill: black;
    height: 30px;
}


/* ...................  */

.hero-section{
    width: 100%;
    margin-top: 185px;
    position: relative;
}
.hero-section img{
    width: 100%;
    height: auto;
}

.left-button{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: green;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    border-radius: 100%;

}
.right-button{
    position: absolute;
    height: 60px;
    width: 60px;
    right: 40px;
    background-color: green;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;

}