

@media (width<500px){
    .navbar{
        display: flex;
      background-color: red;
      padding-right: 0px;
      text-align: center;
      padding-left: 8rem;
  }
  
  .right-navbar {
    display: none;
  }
  .logo {
    word-spacing: 1rem;
    text-align: center;
  }
  .main-part {
    padding: 0rem 2rem 0rem 2rem;
    min-height: 110vh;
    /* padding: 3rem 14rem; */
    width: 100%;
  }
  .right-side-for-img img {
    height: 34%;
    width: 35%;
  }
  .yoga-pic img {
    height: 26%;
  }
  .for-main-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-column-gap: 6rem; */
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */

    grid-row-gap: 2rem;
    /* text-align: left; */
  }
  .yoga-art {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 1rem;
    /* padding-left: 12rem; */
  }
  }

